.jumbotron {
  margin-top: 50px;
  background-color: #00355f;
  color: #ffcb00;
}

.btn {
 margin-bottom: 20px;

}
 .quizQuestions {
   border: 5px solid #00355f;
   width: 720px;
   border-radius: 25px;
   padding-top: 20px;
 }

body {

  background-color: #ffcb00;
}

 .resultOne{
  visibility: hidden;
}

 #hide {
   border: 5px solid #00355f;
   margin: 100px;
   border-radius: 25px;
   padding: 10px;

   color: #00355f;
   display: none;;

}

.travelAd {
  float: right;
  width: 300px;
}
